
@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Zilla+Slab');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #FFC642;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  }


  html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent; }
  
  @-ms-viewport {
	width: device-width; }
  
  article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block; }
  
  body {
	margin: 0px;
	padding: 0px;
	font-family: "Open Sans","Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	width: 100%;
	height: 100%;
	background-color: #fff; }
  
  [tabindex="-1"]:focus {
	outline: 0 !important; }
  
  hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible; }
  
  h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0.5rem; }
  
  p {
	margin-top: 0;
	margin-bottom: 1rem;
	font-family: "Open Sans", sans-serif !important;
	font-size: 13px; }
  
  abbr[title],
  abbr[data-original-title] {
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
	cursor: help;
	border-bottom: 0; }
  
  address {
	margin-bottom: 1rem;
	font-style: normal;
	line-height: inherit; }
  
  ol,
  ul,
  dl {
	margin-top: 0;
	margin-bottom: 1rem; }
  
  ol ol,
  ul ul,
  ol ul,
  ul ol {
	margin-bottom: 0; }
  
  dt {
	font-weight: 700; }
  
  dd {
	margin-bottom: .5rem;
	margin-left: 0; }
  
  blockquote {
	margin: 0 0 1rem; }
  
  dfn {
	font-style: italic; }
  
  b,
  strong {
	font-weight: bolder; }
  
  small {
	font-size: 80%; }
  
  sub,
  sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline; }
  
  sub {
	bottom: -.25em; }
 
  em {
	font-size: 150%; }
 
  .bordbot{
	  border-bottom:100px;
	  border-bottom-color: red;
  }
  
  .textcar{
	  background-color: #183c56;
  }
  
  .navone{
	  font-size:150%;
  }
  
  .navtwo{
	  font-size:150%;
  }
  
  .navtwo:hover{
	  font-size: 200%;
      margin-top:-1%;
	  margin-left:-0.8%;
	  margin-right:-1.8%;
	  margin-bottom: -5%;
  }
  
  .navone:hover{
	  font-size: 200%;
      margin-top:-1%;
	  margin-left:-2.4%;
	  margin-right:-2.2%;
	  margin-bottom: -5%;
  }
  
  .whyasme{
	  font-size: 450%;
	  font-family: "Segoe UI";
  }
  
  .introduction{
	  font-size: 165%;
	  color: white;
	  margin-bottom: -20%;
  }
  
  .tox{
	  height:600px !important;
	  width:104% !important;
	  margin-left: -2%;
  }
  
  .bot{
	  background-image:linear-gradient(to right, #02b3cf, #107eaf);
	  height: 6%;
	  width: 100%;

  }
  
  .navbg{
	  background-image:linear-gradient(to right, #107eaf, #02b3cf);
	  border-top-width: 1000px; 
	  
  }
  
  .Named{
	  color:#00bcd4;
	  font-size: 350%;
	  margin-left: -9%;
	  font-family: 'Zilla Slab' , sans-serif;
  }
  
  .cont{
	 background-color: black;
	 font-family: "Open Sans","Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  .ourdomain{
	  color: #183c56;
	  font-size: 450%;
	  font-family: "Segoe UI";
  }
	  
  .carddomains{
	  margin-top: 5%;
	  max-width: 30%;
	  max-height:100%;
  }
  
  .carddomains2{
	  margin-top: 4%;
	  max-width: 38%;
	  max-height:100%;
  }
  
  .news{
	  font-size: 300%;
	  color:#183c56;
	  font-family: "Segoe UI";
	  padding-bottom: 7%;
  }
  
  .content{
	  height:285px;
  }
  
  .footbg{
		background-image:linear-gradient(to right, #02b3cf, #107eaf);
  }
  
  .foothead{
	  font-size: 300%;
	  color:#183c56;
	  font-family: "Segoe UI";
	  padding-top: 1%;
	  padding-bottom: 1%;
  }
  .footarea{
	  background-image:linear-gradient(to right, #00bcd4, #71d199);
  }
  
  .list-top{
	margin-bottom:-30px;  
  }
  
  .finger{
	background: url(Photos/FingerBullet.png) no-repeat left top; 
	height: 54px; 
	padding-left: 44px; 
	padding-top: 1px;  
  }
  
  .reach{
	  font-family: "Segoe UI";
	  color:#183c56;
  }
  
  .latest-events{
	  color: #183c56;
	  font-size: 450%;
	  font-family: "Segoe UI";
  }
  
  .latest-points{
	background: url(Photos/FingerBullet.png) no-repeat 350px top; 
	height: 54px; 
	padding-left: 394px; 
	padding-top: 1px;  
  }
  
  .scrollbox{
	  background-image:linear-gradient(to right, #107eaf, #107eaf);
  }
  
  .card-borders{
	border-width: 0px;  
  }
  
  .event-head{
	border: solid;
	border-radius: 100px;
	border-color: #00bcd4;
	height: 200px;
	width: 200px;
	margin-left:32%;
	margin-top:20px;
  }
  
  b.bold-message{
	font-size:120%;  
  }
  
  .footer-event{
      max-height: 80%;
	  width:101.4%;
	  margin-left:-15px;
	  margin-bottom:-10%;
  }
  
  .indent-gallery-link{
	margin-left: 25%;
  }
  
  .gallery-link{
	  color: #183c56;
	  font-size:120%;
	  font-family: "Segoe UI";
  }

  .gallery-link:hover{
	  color: #183c56;
	  font-size:120%;
	  font-family: "Segoe UI";
	  background-image:linear-gradient(to top right, white, white, #00bcd4);
	  text-decoration:none;
	  padding-bottom: 1%;
  }
  
  .gallery-head{
	  color: #183c56;
	  font-size: 300%;
	  font-family: "Segoe UI";
  }
  
  .image-gallery{
  position:relative;  
  margin:0 auto;
  width:600px;  
  border-radius:20px;  
}
  .Elad-Shechter:hover{
	  text-decoration:none;
  }
  
  .team-drop{
	  text-decoration: none;
	  
  }
  
  .team-btn-size{
	  width:100%;
	  text-decoration:none;
  }
  
  .team-btn-size:hover{
	  width:100%;
	  text-decoration:none;
  }
  
  .clrs{
	  background-image:linear-gradient(to top right, white, white);
	  border-style:none;
  }
  
  .team-content{
	  box-shadow: inset 0 -5px 35px -5px white;
	  padding-bottom:100px;
	  margin-bottom:40px;
  }
  
  .team-img{
	  margin-top:0px;
	  padding-left:40%;
	  padding-right:40%;
	  box-shadow: 10px 2px 40px 30px white;
  }
  
  .navthree{
	  font-size:150%;
  }
  
  .navthree:hover{
	  font-size: 200%;
      margin-top:-1%;
	  margin-left:-0.8%;
	  margin-right:-1.4%;
	  margin-bottom: -5%;
  }
  
  .navfour{
	  font-size:150%;
  }
  
  .navfour:hover{
	  font-size: 200%;
      margin-top:-1%;
	  margin-left:-1.0%;
	  margin-right:-1.4%;
	  margin-bottom: -5%;
  }
  
  .faculty-style{
	  width:90%; 
	  height:100%;
  }
  
  .faculty-img{
	  max-height: 200px;
	  max-width: 200px;
	  margin-left:20%;
	  border: solid;
      border-radius: 300px;
	  border-color: #00bcd4;
	  margin-top:20px;
  }
  
  .faculty-img2{
	  max-height: 200px;
	  max-width: 200px;
	  margin-left:25%;
	  border: solid;
      border-radius: 300px;
	  border-color: #00bcd4;
	  margin-top:20px;
  }
  















/*Sets Big Image style*/
.image-gallery .big-image{
  width:600px;
  height:360px;   
  margin:0 auto;  
  position:relative;
}
.image-gallery .big-image img{
  opacity:0;position:absolute;left:0px;top:0px; width:600px;
  margin:0 auto;
  transition: opacity 350ms;
  box-shadow:0 1px 20px 1px rgba(0,0,0,0.7);
}

/*Selected image display*/
.image-gallery .big-image img:target{opacity:1;}
/*on select image display none the default image*/
.image-gallery .big-image img:target ~ img#default{opacity:0;}

/*Show Default Image in first load*/
.image-gallery .big-image img#default{opacity:1;}


/***Button***/
.image-gallery .button{
  font-weight:bold;
  font-size:30px;
  display:inline-block;
  transform:scale(1,2);
  background-color:#ccc;
  color:#222;
  padding:0 10px;   
}
.image-gallery .prev{position:absolute; left:0; top:378px;}
.image-gallery .next{position:absolute; right:0; top:378px;}

/***move thumbs on click on buttons***/
.image-gallery .prev:active ~ .thumbs  ul{
  transform:translateX(0%);
  transition:3s all;
}
.image-gallery  .next:active ~ .thumbs  ul{
  transform:translateX(-90%);
  transition:3s all;  
}
  
/***thumbs***/
.image-gallery .thumbs{
  overflow:hidden; white-space:nowrap; margin:0 45px;
}
.image-gallery .thumbs ul{
  float:left; transition:999999s all; transform:translateX(0);
}
.image-gallery .thumbs li{display:inline-block; margin-right:3px;}
.image-gallery .thumbs li a:hover{opacity:1;}
.image-gallery .thumbs li a{opacity:0.85;}
.image-gallery .thumbs li a:focus{opacity:1;}
.image-gallery .thumbs li img{width:128px;}


/*other styles*/
.title{font-size:30px;font-weight:bold;text-align:center;margin:15px 0;
text-shadow:1px 1px 2px #1f1f1f;}

/*reset CSS*/
*{font-family:arial;}
ul,li{list-style:none;margin:0;padding:0;}

/*footer text*/
footer a{color:#222; font-size:10px;}

  sup {
	top: -.5em; }
  
  a {
	color: #FFC642;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects; }
	a:hover {
	  color: #45b488;
	  text-decoration: underline; }
  
  a:not([href]):not([tabindex]) {
	color: inherit;
	text-decoration: none; }
	a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
	  color: inherit;
	  text-decoration: none; }
	a:not([href]):not([tabindex]):focus {
	  outline: 0; }
  
  pre,
  code,
  kbd,
  samp {
	font-family: monospace, monospace;
	font-size: 1em; }
  
  pre {
	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto;
	-ms-overflow-style: scrollbar; }
  
  figure {
	margin: 0 0 1rem; }
  
  img {
	vertical-align: middle;
	border-style: none; }
  
  svg:not(:root) {
	overflow: hidden; }
  
  table {
	border-collapse: collapse; }
  
  caption {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	color: #6c757d;
	text-align: left;
	caption-side: bottom; }
  
  th {
	text-align: inherit; }
  
  label {
	display: inline-block;
	margin-bottom: 0.5rem; }
  
  button {
	border-radius: 0; }
  
  button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color; }
  
  input,
  button,
  select,
  optgroup,
  textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit; }
  
  button,
  input {
	overflow: visible; }
  
  button,
  select {
	text-transform: none; }
  
  button,
  html [type="button"],
  [type="reset"],
  [type="submit"] {
	-webkit-appearance: button; }
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none; }
  
  input[type="radio"],
  input[type="checkbox"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0; }
  
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
	-webkit-appearance: listbox; }
  
  textarea {
	overflow: auto;
	resize: vertical; }
  
  fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0; }
  
  legend {
	display: block;
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin-bottom: .5rem;
	font-size: 1.5rem;
	line-height: inherit;
	color: inherit;
	white-space: normal; }
  
  progress {
	vertical-align: baseline; }
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
	height: auto; }
  
  [type="search"] {
	outline-offset: -2px;
	-webkit-appearance: none; }
  
  [type="search"]::-webkit-search-cancel-button,
  [type="search"]::-webkit-search-decoration {
	-webkit-appearance: none; }
  
  ::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button; }
  
  output {
	display: inline-block; }
  
  summary {
	display: list-item;
	cursor: pointer; }
  
  template {
	display: none; }
  
  [hidden] {
	display: none !important; }
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit; }
  
  h1, .h1 {
	font-size: 2.5rem; }
  
  h2, .h2 {
	font-size: 2rem; }
  
  h3, .h3 {
	font-size: 1.75rem; }
  
  h4, .h4 {
	font-size: 1.5rem; }
  
  h5, .h5 {
	font-size: 1.25rem; }
  
  h6, .h6 {
	font-size: 1rem; }

 /*for navbar pre-written*/
 a {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	color: #FFC642; }
	a:hover {
	  text-decoration: none;
	  color: #FFC642; }
  
  h1, h2, h3, h4, h5,
  .h1, .h2, .h3, .h4, .h5 {
	color: #000;
	font-weight: 300; }
  
  .text-primary {
	color: #FFC642 !important; }
  
  .ftco-navbar-light {
	background: transparent !important;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 3;
	top: 10px; }
	@media (max-width: 991.98px) {
	  .ftco-navbar-light {
		background: #000 !important;
		top: 0;
		position: relative; } }
	.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
	  font-size: 18px;
	  font-weight: bold;
	  padding-top: 30px;
	  padding-bottom: 30px;
	  padding-left: 20px;
	  padding-right: 20px;
	  opacity: 1 !important; }
	  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
		color: #fff; }
	  @media (max-width: 991.98px) {
		.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
		  padding-top: 10px;
		  padding-bottom: 10px;
		  padding-left: 0px;
		  padding-right: 0px; } }
	.ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
	  position: relative;
	  margin-left: 20px;
	  padding-left: 20px; }
	  @media (max-width: 991.98px) {
		.ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
		  padding-left: 0;
		  margin-left: 0; } }
	  .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
		position: absolute;
		content: "";
		top: 10px;
		bottom: 10px;
		left: 0;
		width: 2px;
		background: rgba(255, 255, 255, 0.05); }
		@media (max-width: 991.98px) {
		  .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
			display: none; } }
	.ftco-navbar-light .navbar-nav > .nav-item.cta > a {
	  padding-left: 0;
	  color: #fff; }
	  .ftco-navbar-light .navbar-nav > .nav-item.cta > a span {
		border: 2px solid #fff;
		display: inline-block;
		padding: 10px 20px;
		border-radius: 4px; }
	.ftco-navbar-light .navbar-nav > .nav-item.cta.cta-colored span {
	  border-color: #FFC642; }
	.ftco-navbar-light .navbar-nav > .nav-item.active > a {
	  color: #fff;
	  position: relative; }
	  .ftco-navbar-light .navbar-nav > .nav-item.active > a:before {
		content: "";
		height: 2px;
		background: #fff;
		left: 20px;
		right: 20px;
		position: absolute;
		bottom: 20px; }
		@media (max-width: 991.98px) {
		  .ftco-navbar-light .navbar-nav > .nav-item.active > a:before {
			display: none; } }
	.ftco-navbar-light .navbar-toggler {
	  border: none;
	  color: rgba(255, 255, 255, 0.5) !important;
	  cursor: pointer;
	  padding-right: 0;
	  text-transform: uppercase;
	  font-size: 16px;
	  letter-spacing: .1em; }
	.ftco-navbar-light.scrolled {
	  position: fixed;
	  right: 0;
	  left: 0;
	  top: 0;
	  margin-top: -130px;
	  background: #fff !important;
	  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }
	  .ftco-navbar-light.scrolled .nav-item.active > a {
		color: #FFC642 !important; }
		.ftco-navbar-light.scrolled .nav-item.active > a:before {
		  display: none; }
	  @media (max-width: 991.98px) {
		.ftco-navbar-light.scrolled .navbar-nav {
		  background: none;
		  border-radius: 0px;
		  padding-left: 0rem !important;
		  padding-right: 0rem !important; } }
	  @media (max-width: 767.98px) {
		.ftco-navbar-light.scrolled .navbar-nav {
		  background: none;
		  padding-left: 0 !important;
		  padding-right: 0 !important; } }
	  .ftco-navbar-light.scrolled .navbar-toggler {
		border: none;
		color: rgba(0, 0, 0, 0.5) !important;
		border-color: rgba(0, 0, 0, 0.5) !important;
		cursor: pointer;
		padding-right: 0;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: .1em; }
	  .ftco-navbar-light.scrolled .nav-link {
		padding-top: 0.9rem !important;
		padding-bottom: 0.9rem !important;
		color: #000 !important; }
		.ftco-navbar-light.scrolled .nav-link.active {
		  color: #FFC642 !important; }
	  .ftco-navbar-light.scrolled.awake {
		margin-top: 0px;
		-webkit-transition: .3s all ease-out;
		-o-transition: .3s all ease-out;
		transition: .3s all ease-out; }
	  .ftco-navbar-light.scrolled.sleep {
		-webkit-transition: .3s all ease-out;
		-o-transition: .3s all ease-out;
		transition: .3s all ease-out; }
	  .ftco-navbar-light.scrolled .navbar-brand {
		color: #000;
		font-weight: bold; }
  
  .navbar-brand {
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 30px;
	font-family: "Zilla Slab", serif; }
  
  .bg-image, .ftco-cover {
	background-size: cover;
	background-repeat: no-repeat; }
  
  .ftco-cover {
	background-position: center center; }
	.ftco-cover .ftco-heading {
	  font-size: 50px;
	  line-height: 1.2;
	  color: #fff; }
	  @media (max-width: 991.98px) {
		.ftco-cover .ftco-heading {
		  font-size: 37px;
		  line-height: 1.3; } }
	.ftco-cover .ftco-subheading {
	  max-width: 450px;
	  line-height: 1.5; }
	.ftco-cover .ftco-subheading, .ftco-cover p {
	  line-height: 1.7;
	  color: rgba(255, 255, 255, 0.7);
	  font-weight: 300;
	  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
	@media (max-width: 991.98px) {
	  .ftco-cover .btn {
		width: 100% !important; } }
	.ftco-cover a {
	  position: relative;
	  color: #fff; }
	.ftco-cover.overlay {
	  position: relative; }
	  .ftco-cover.overlay:before {
		content: "";
		background: rgba(0, 0, 0, 0.6);
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0; }
	.ftco-cover .ftco-vh-100 {
	  min-height: 700px !important; }
  
  .ftco-uppercase {
	font-size: 30px; }
  
  .menu-item {
	margin-bottom: 30px; }
	.menu-item img {
	  width: 100px;
	  border-radius: 50%; }
	.menu-item .menu-price {
	  font-size: 24px; }
  
  @media (max-width: 991.98px) {
	.display-4 {
	  font-size: 37px; } }
  
  .bg-light {
	background: #f1efed !important;
	background: #fafafa !important; }
  
  .ftco-custom-gutters {
	margin-left: -10px;
	margin-right: -10px; }
	.ftco-custom-gutters [class*=col-] {
	  padding-left: 5px;
	  padding-right: 5px;
	  margin-bottom: 5px; }
	  .ftco-custom-gutters [class*=col-] .ftco-thumbnail {
		display: block;
		margin-bottom: 5px; }

.loading{
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width:100%;
	height: 100%;
	margin: auto;
	margin-top: 300px;
	animation: spin 2s linear infinite;
}
@keyframes spin
{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}
#load_screen > .loading {
	height: 120px;
	width: 120px;
	background: rgba(0,0,0,0.8);
	position: fixed;
	left: 0;
	right: 0;
	z-index: 9999;
	opacity: 1;
}
#load_screen {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
}
/* 
.mynav{
	background-image: url('Photos/why_join_asme.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;

} */

.navbar {
	background-color: #0066ff !important;
	padding-bottom: 0px !important;

}

.navbar .navbar-brand {
	color: #fff !important;
	font-weight: bolder;
	font-size: 1.3em;
}
/* .navbar .navbar-nav {
	margin: 0 auto;
} */
.navbar .nav-item a{
	color: #000 !important;
}
.navbar .dropdown-menu{
	background-color: rgba(0, 0, 0, 0.3);
}
.dropdown-item:hover{
	color: #fd7e14;
}
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}
.header {
	padding: 5px;
	margin-top: 5px;
	display: flex;
	background: #fff;
	height: 130px;
	overflow: auto;
}
.header > div{
	flex: 1;
}
.header h2{
	font-family: 'Zilla Slab' , sans-serif;
	font-weight: 900;
}
.header img{
	padding-bottom: 0px !important;
    height: 110px;
    width: 160px;
}